= form_for [@project, @epic, @story], html: {class: 'form-horizontal'} do |story_form|
  %fieldset
    %legend Story Details
    .control-group.name
      = story_form.label :name, 'Name', class: 'control-label'
      .controls.name
        = story_form.text_field :name
    .control-group.description
      = story_form.label :description, 'Description', class: 'control-label' 
      .controls.description
        = story_form.text_area :description
    .control-group.price
      = story_form.label :estimate, 'Estimate', class: 'control-label'
      .controls.price
        = story_form.text_field :estimate
    .form-actions
      = story_form.submit 'Save', class: 'btn btn-primary'
