%hr #{@story.name}
= link_to 'Add Funds', [:new, @project, @epic, @story, :account, :transaction]
= link_to 'Create a Task', [:new, @project, @epic, @story, :task], class: 'btn'

.btn-group
  %a.btn.dropdown-toggle{:'data-toggle' => 'dropdown', href: '#'}
  Points
  %span.caret &nbsp;

  %ul.dropdown-menu
    - %w(0 1 2 3 5 8 13 21).each do |point|
      %li= link_to point, project_epic_story_path(project_id: @project, epic_id: @epic, id: @story, story: {points: point}), method: :put

%table
  %thead
    %tr
      %th Tasks
      %th &nbsp;
    %tbody.tasks
      - @story.tasks.each do |task|
        %tr.task
          %td= link_to task.description, [:edit, @project, @epic, @story, task]
          %td
            = link_to 'Delete a Task', [@project, @epic, @story, task], method: :delete, class: 'btn btn-danger'
            = link_to 'Edit a Task', [:edit, @project, @epic, @story, task]
