%h1 Dashboard

%ul#posts-menu.menu
  %li= link_to 'create a post', new_user_post_path(@current_user)
  %li= link_to 'view my posts', user_posts_path(@current_user)
  %li= link_to 'view drafts', drafts_user_posts_path(@current_user)

%ul#project-menu.menu
  %li= link_to 'Create a Project', [:new, :project]

.widgets
  .widget.projects
    %h2 My Projects

    %table
      %thead
        %tr
          %th Project Name
          %th &nbsp;
      %tbody
        - @current_user.projects.each do |project|
          %tr.project{id: dom_id(project)}
            %td
              = link_to project.name, [:edit, project]
              = link_to 'edit', [:edit, project],class: 'btn' 
              = link_to 'delete', [project], method: :delete, class: 'btn btn-danger'
            %td &nbsp;
