%h2 #{@project.name}
= link_to 'Add Funds', [:new, @project, :transaction], class: 'btn btn-success'
= link_to 'Create an Epic', [:new, @project, :epic], class:'btn'
= link_to 'Add A User', [:new, @project, :user], class:'btn'

%table
  %thead
    %tr
      %th Epic Name
      %th &nbsp;
    %tbody.epics
      - @project.epics.each do |epic|
        %tr.epic
          %td= link_to epic.name.titleize, [@project, epic]
          %td
            = link_to 'Delete an Epic', [@project, epic], method: :delete, class: 'btn btn-danger'
            = link_to 'Edit an Epic', [:edit, @project, epic], class: 'btn btn-primary'
%table
  %thead
    %tr
      %th Project Users
      %th &nbsp;
    %tbody.persons
      - @project.users.each do |user|
        %tr.person{id: user.nickname}
          %td= link_to user.nickname.titleize, [:edit, @project, user]
          %td
            = link_to 'Delete user', [@project, user], method: :delete, class: 'btn btn-danger'
