%h2 #{@project.name}
= link_to 'Create an Epic', [:new, @project, :epic], class:'btn'
%table
  %thead
    %tr
      %th Epic Name
      %th &nbsp;
    %tbody.epics
      - @project.epics.each do |epic|
        %tr.epic
          %td= link_to epic.name.titleize, [:edit, @project, epic]
          %td
            = link_to 'Delete an Epic', [@project, epic], method: :delete, class: 'btn btn-danger'
            = link_to 'Edit an Epic', [:edit, @project, epic]
