!!! 5
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Communal
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application'
    = csrf_meta_tags
  %body
    .wrapper.deck
      #root.card.pinned
        %h1 The Forge

        %p= link_to image_tag('hammer-and-anvil.jpg'), [:root]

        - if @current_user
          %p= link_to 'My Dashboard', [:dashboard]

          %h4 My Projects
          %ul.menu
            %li= link_to 'Manage My Projects', [:projects]
            %li= link_to 'Create a Project', [:new, :project]
            - @current_user.projects.each do |project|
              - unless project.new_record?
                %li= link_to project.name, [project]

          %h4 My Accounts
          %ul.menu
            %li= link_to 'Manage My Accounts'
            %li= link_to 'Create an Account', [:new, @current_user, :account]
            - @current_user.accounts.each do |account|
              - unless account.new_record?
                %li= link_to "#{account.nickname} - #{number_to_currency(account.balance)}", [:edit, @current_user, account]

          %h4 My Profile
          %ul.menu
            %li= link_to "#{@current_user.nickname ? @current_user.nickname : @current_user.id} online", [:dashboard]
            %li= link_to 'Profile', [:profile]
            %li= link_to 'Logout', [:logout]
        - else
          .btn-group
            %a.btn.dropdown-toggle{:'data-toggle' => 'dropdown', href: '#'}
              Login
              %span.caret &nbsp;
            %ul.dropdown-menu
              %li= link_to 'Facebook', '/auth/facebook'
              %li= link_to 'Twitter',  '/auth/twitter'
              %li= link_to 'Google',   '/auth/google_oauth2'

      - if flash.present?
        .card.pinned
          - flash.each do |(key, value)|
            = content_tag :div, raw(value), class: 'message', id: "#{key}-message"
      = yield

    :javascript
      $(document).ready(function(){
        deck.collect();
      });
